/* Hero.css */
.hero-container {
  position: relative;
  background-image: url('../assets/tnfpvegetables.webp');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 20px;
  overflow: hidden;
  transition: background-position 1s ease-out;
  will-change: transform;
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.hero-content {
  text-align: center;
  z-index: 2;
  position: relative;
}

.hero-heading {
  font-size: 4rem;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  letter-spacing: 3px;
  margin-bottom: 20px;
  opacity: 1;
}

.hero-subheading {
  font-size: 1.5rem;
  font-weight: 600;
  opacity: 0.9;
  max-width: 700px;
  margin: 20px auto;
  line-height: 1.8;
  color: white;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7), 0 0 15px rgba(255, 255, 255, 0.5);
}

.hero-buttons {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.hero-button {
  padding: 0.75rem 2rem;
  border: none;
  border-radius: 999px;
  font-size: 1rem;
  font-weight: 600;
  color: white;
  cursor: pointer;
  background-color: #7c9e3f;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  letter-spacing: 1px;
  transition: background-color 0.4s ease, box-shadow 0.4s ease;
}

.hero-button:hover {
  background-color: tomato;
  box-shadow: 0 0 15px rgba(255, 99, 71, 0.7);
}

.staff-button {
  background-color: #a4c76e;
}

.password-prompt {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.password-prompt input {
  padding: 10px;
  margin: 10px;
  font-size: 16px;
  width: 250px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.password-prompt button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #708238;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 999px;
  transition: background-color 0.4s ease, box-shadow 0.4s ease;
}

.password-prompt button:hover {
  background-color: tomato;
  box-shadow: 0 0 10px rgba(255, 99, 71, 0.6);
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 10px;
}

@media (max-width: 768px) {
  .hero-heading {
    font-size: 3rem;
  }

  .hero-subheading {
    font-size: 1.25rem;
  }
}

@media (max-width: 480px) {
  .hero-heading {
    font-size: 2.5rem;
  }

  .hero-subheading {
    font-size: 1rem;
  }
}
